.read_wrapper {
    overflow-y: auto;

    .main_content {
        // height: 100%;
        position: relative;
        max-width: 960px;
        min-width: 760px;
        margin: auto;
        padding: 2vw;
        background: #fff;
        .title_row {
            font-size: 28px;
            word-wrap: break-word;
            color: #222226;
            font-weight: 600;
            margin: 0;
            word-break: break-all;
            margin-bottom: 40px;
        }
        .content_box {
            height: calc(100% - 85px);
        }
    }
    .operate_banner{
        position: absolute;
        top: 0px;
        right: -100px;
        .item{
            background: #fff;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            cursor: pointer;
            margin-bottom: 20px;
        }
    }
}

